/*Border*/
*{
  margin: 0;
  padding: 0;
 }
 


/*bg img  */
#bg{
    width:100vw;
    height: 99vh;

 }

 #title {
  font-size: 56px;
  top: 25%;
 }

 .overlapButton {
  left: 25%;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 36px;
  color: #ffdc91;
  background-color: transparent;
  outline: none;
  border: 8px;
  border-radius: 8px;
  cursor: pointer;
}
